* {
    margin: 0;
    padding: 0;
}

.encabeza2 {
    background-image: linear-gradient(to top, #000000, #0d0d0d, #161616, #1d1d1d, #252424);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Orbitron', sans-serif;

    padding-top: 1em;
}

.nombrePagina{
    font-size: x-large;
    margin-left: 1em;
}

.imagen-encabezado {
    margin-left: 20%;

}

.encabezado{
    color: 	#97ce4c;
    text-decoration: none;
    margin-left: 1em;
}


nav{
    padding: 30px;
    font-size: larger;  
    margin-right: 0.5em;  

}

nav a:hover {
    color: rgb(202, 202, 26);
}

.menu nav {
    display: flex;
    flex-direction: row;
}



/* MENU HAMBURGUESA */
@media screen and (max-width: 550px) {

    .encabeza2 {
        display: flex;
        
        margin-bottom: 5%;
        height: 80px;
        padding-bottom: 5em;
    }

    .nombrePagina {
        margin: auto;
        margin-top: 20%;

        font-size: larger;
        margin-bottom: 0.5em;
        text-align: center;

    }

    .imagen-encabezado {
      margin: auto;
      margin-top: 10%;
    }

    .imagen-encabezado img {
        height: 80px;
    }

    /* MENU HAMBURGUESA */

  /*   .abrir-menu,
    .cerrar-menu {
    display:block;
    }  */  

    .navega {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 7em;
        margin-right: 0.5em;

        text-align: end;
        gap: 0.5rem;
    
        background-image: linear-gradient(to top, #000000bb, #0d0d0db9, #161616a9, #1d1d1dbb, #252424b9);
        border: 0.5px solid rgba(255, 255, 255, 0.336);
        padding: 0.5rem;
    }
    

  
    .navega a {
        flex-direction: column;
    } */ 

    /* fin MENU HAMBURGUESA */

    #root {
        flex-direction: column;
        margin-top: 0.5em;
    }

    .container {
        width: 80%;
        margin: 15px;
    }

    .card img{
        width: 100%;
    }

    .pagination {
        display: flex;
    }
}


.personajes-total {
    padding-left: 2em;
}

body {
    background-color: black;
    color: white;
    font-family: 'Antonio', sans-serif;
}

#root {
    display: flex;
    flex-wrap: wrap;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    font-size: large;

}

.card {
    border: 1px groove rgb(104, 104, 104);
    border-radius: 3px;
    box-shadow: 10px 10px 8px 0px rgba(82, 82, 82, 0.3);
    transition: 
        background-color 312ms ease, 
        border 300ms ease-in, 
        border-radius 300ms ease-in; 
    
    padding: 3em;
    
}

.card-content {
    padding: 0.5em;
}

.card-image img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card-image:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.2);
    border-radius: 35%;
}

.card-image:hover {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transform: scale(1.1);
}

.container-paginador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 50px ;
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
}

.container-paginador a {
    color: white;
    text-decoration: none;
    font-size: small;
    display: flex;
    flex-direction: column;
}

#flecha {
    align-items: center;
}

.accion-link {
    border-top: 1px solid white;
    text-align: center;
    margin-top: 1.5em;
    padding: 0.5em;
}

.ver-personaje {
    border-top: 1px solid white;
    margin-top: 1em;
    padding-top: 1em;
}

#ver-mas {
    color:#97ce4c;
    text-decoration: none;
    margin-left: 0.5em;
}

#ver-mas:visited {
    color: #62a4ab;
}

#ver-mas:hover {
    text-shadow: 2px 2px 4px rgba(139, 139, 139, 0.932);
    transform: scale(1.1);
    display: inline-block;
    color: rgb(202, 202, 26);
}

.pagination {
    margin-top: 20px;
}

main button {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
main  button {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
main  button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
main  button:hover {
    color: rgb(0, 0, 0);
  }
  
main  button:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }



.footer {
    color: rgb(219, 219, 20);
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
}